{% extends "base.html" %}
{% block title %}Frases por Película{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Frases por Película</h1>
    <div class="row">
        {% for pelicula in peliculas %}
        <div class="col-md-4 mb-4">
            <div class="card book-card h-100">
                <img src="{{ pelicula.poster_url }}" class="card-img-top book-img" alt="{{ pelicula.titulo }}">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ pelicula.titulo }}</h5>
                    <p class="card-text">{{ pelicula.descripcion }}</p> 
                    <a href="/pelicula/{{ pelicula.id }}" class="btn btn-primary mt-auto">Ver Frases</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}